# flyctl launch added from .gitignore
**/node_modules
**/build
**/coverage
**/test.sqlite
**/database.sqlite
**/staging.sqlite
**/uploads-dev
**/uploads-test
**/uploads-staging
**/uploads-prod
fly.toml
